Checks: >
  -*,
  autosar-*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-owning-memory,
  cppcoreguidelines-pro-type-const-cast,
  cppcoreguidelines-pro-type-reinterpret-cast,
  readability-make-member-function-const

WarningsAsErrors: >
  autosar-*,
  cppcoreguidelines-owning-memory,
  cppcoreguidelines-pro-type-const-cast,
  cppcoreguidelines-pro-type-reinterpret-cast,
  readability-make-member-function-const

HeaderFilterRegex: 'Src/.*'
AnalyzeTemporaryDtors: false
FormatStyle: none
